.settings-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

}

.form-container {
  background: white;
  padding: 20px;
  border-radius: 10px;
  border-top: 5px solid rgb(9, 102, 71);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  width: 400px;
  text-align: center;
}

.form-title-setting {
  font-size: 24px;
  margin-bottom: 20px;
}

.input-group {
  margin-bottom: 15px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
}

.input-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-button {

  color: white;
  padding: 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.form-button:hover {
  background: #2ecc71;
}

